In [1]:
from pathlib import Path
import requests

def download_one_file_of_raw_data(year: int, month: int) -> Path:
    URL = f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02d}.parquet'
    response = requests.get(URL)

    if response.status_code == 200:
        path = f'../data/raw/rides_{year}-{month:02d}.parquet'
        open(path, "wb").write(response.content)
        return path
    else:
        raise Exception(f'{URL} is not available')

In [2]:
download_one_file_of_raw_data(year=2022, month = 1)

'../data/raw/rides_2022-01.parquet'

In [3]:
import pandas as pd
rides = pd.read_parquet("../data/raw/rides_2022-01.parquet")

In [4]:
print(rides)

         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               1  2022-01-01 00:35:40   2022-01-01 00:53:29              2.0
1               1  2022-01-01 00:33:43   2022-01-01 00:42:07              1.0
2               2  2022-01-01 00:53:21   2022-01-01 01:02:19              1.0
3               2  2022-01-01 00:25:21   2022-01-01 00:35:23              1.0
4               2  2022-01-01 00:36:48   2022-01-01 01:14:20              1.0
...           ...                  ...                   ...              ...
2463926         2  2022-01-31 23:36:53   2022-01-31 23:42:51              NaN
2463927         2  2022-01-31 23:44:22   2022-01-31 23:55:01              NaN
2463928         2  2022-01-31 23:39:00   2022-01-31 23:50:00              NaN
2463929         2  2022-01-31 23:36:42   2022-01-31 23:48:45              NaN
2463930         2  2022-01-31 23:46:00   2022-02-01 00:13:00              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 3.80         1.0                  N           142
1                 2.10         1.0                  N           236
2                 0.97         1.0                  N           166
3                 1.09         1.0                  N           114
4                 4.30         1.0                  N            68
...                ...         ...                ...           ...
2463926           1.32         NaN               None            90
2463927           4.19         NaN               None           107
2463928           2.10         NaN               None           113
2463929           2.92         NaN               None           148
2463930           8.94         NaN               None           186

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 236             1        14.50    3.0      0.5        3.65
1                  42             1         8.00    0.5      0.5        4.00
2                 166             1         7.50    0.5      0.5        1.76
3                  68             2         8.00    0.5      0.5        0.00
4                 163             1        23.50    0.5      0.5        3.00
...               ...           ...          ...    ...      ...         ...
2463926           170             0         8.00    0.0      0.5        2.39
2463927            75             0        16.80    0.0      0.5        4.35
2463928           246             0        11.22    0.0      0.5        2.00
2463929           164             0        12.40    0.0      0.5        0.00
2463930           181             0        25.48    0.0      0.5        6.28

         tolls_amount  improvement_surcharge  total_amount  \
0                 0.0                    0.3         21.95
1                 0.0                    0.3         13.30
2                 0.0                    0.3         10.56
3                 0.0                    0.3         11.80
4                 0.0                    0.3         30.30
...               ...                    ...           ...
2463926           0.0                    0.3         13.69
2463927           0.0                    0.3         24.45
2463928           0.0                    0.3         16.52
2463929           0.0                    0.3         15.70
2463930           0.0                    0.3         35.06

         congestion_surcharge  airport_fee
0                         2.5          0.0
1                         0.0          0.0
2                         0.0          0.0
3                         2.5          0.0
4                         2.5          0.0
...                       ...          ...
2463926                   NaN          NaN
2463927                   NaN          NaN
2463928                   NaN          NaN
2463929                   NaN          NaN
2463930                   NaN          NaN

[2463931 rows x 19 columns]

In [5]:
rides = rides[['tpep_pickup_datetime', 'PULocationID']]

In [6]:
rides.rename(columns = {'tpep_pickup_datetime':'pickup_datetime','PULocationID': 'pickup_location_id'}, inplace =True)

In [7]:
rides.head(20)

       pickup_datetime  pickup_location_id
0  2022-01-01 00:35:40                 142
1  2022-01-01 00:33:43                 236
2  2022-01-01 00:53:21                 166
3  2022-01-01 00:25:21                 114
4  2022-01-01 00:36:48                  68
5  2022-01-01 00:40:15                 138
6  2022-01-01 00:20:50                 233
7  2022-01-01 00:13:04                 238
8  2022-01-01 00:30:02                 166
9  2022-01-01 00:48:52                 236
10 2022-01-01 00:55:03                 141
11 2022-01-01 00:31:06                 114
12 2022-01-01 00:41:07                 234
13 2022-01-01 00:56:34                 246
14 2022-01-01 00:39:46                  43
15 2022-01-01 00:58:06                 239
16 2022-01-01 00:33:52                 148
17 2022-01-01 00:53:54                 237
18 2022-01-01 00:00:44                   7
19 2022-01-01 00:35:50                 107

In [8]:
rides['pickup_datetime'].describe()

count                       2463931
mean     2022-01-17 01:19:51.689724
min             2008-12-31 22:23:09
25%             2022-01-09 15:37:41
50%             2022-01-17 12:11:45
75%      2022-01-24 13:49:37.500000
max             2022-05-18 20:41:57
Name: pickup_datetime, dtype: object

In [9]:
rides = rides[rides.pickup_datetime >= '2022-01-01']
rides = rides[rides.pickup_datetime <'2022-02-01']
rides['pickup_datetime'].describe()

count                       2463879
mean     2022-01-17 01:58:40.393674
min             2022-01-01 00:00:08
25%             2022-01-09 15:37:56
50%             2022-01-17 12:11:54
75%             2022-01-24 13:49:37
max             2022-01-31 23:59:58
Name: pickup_datetime, dtype: object

In [10]:
rides.to_parquet('../data/transformed/validated_rides_2022-01.parquet')