In [8]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from src.data import load_raw_data

rides = load_raw_data(year=2022)
rides

File 2022-01 already in the local_storage
Downloading file 2022-02
Downloading file 2022-03
Downloading file 2022-04
Downloading file 2022-05
Downloading file 2022-06
Downloading file 2022-07
Downloading file 2022-08
Downloading file 2022-09
Downloading file 2022-10
Downloading file 2022-11
Downloading file 2022-12

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3399544 2022-12-31 23:46:00                  16
3399545 2022-12-31 23:13:24                  75
3399546 2022-12-31 23:00:49                 168
3399547 2022-12-31 23:02:50                 238
3399548 2022-12-31 23:00:15                  85

[39654634 rows x 2 columns]